<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
        <label for="messageUser">Name</label>
        <input type="text" name="messageUser" id="messageUser">
        <label for="messageText">Message</label>
        <input type="text" name="messageText" id="messageText">
        <button type="submit">Post</button>
     </form>
</body>
</html>